extends layouts/_layout.pug

block content
  .ads__home
    .container-fluid
      .row
        .col-12.col-md-6.d-none.d-md-block
          .ads__home-ads
            h1 Cloud Digital Signage Solution
            p Manage and publish contents on single or multiple displays with ease. You can upload your own creatives or get it from our Appstore.
            .ads__home-carousel.carousel.slide#ads-carousel(data-ride="carousel" data-interval="2000")
              ol.carousel-indicators
                li.active(data-target="#ads-carousel" data-slide-to="0")
                li(data-target="#ads-carousel" data-slide-to="1")
                li(data-target="#ads-carousel" data-slide-to="2")
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src="./images/home-slider/slider1.svg" alt="Slider 1")
                .carousel-item
                  img.d-block.w-100(src="./images/home-slider/slider2.svg" alt="Slider 2")
                .carousel-item
                  img.d-block.w-100(src="./images/home-slider/slider3.svg" alt="Slider 3")
        .col-12.col-md-6
          .ads__home-form
            .ads__home-logo
              img(src="./images/logo.png" alt="Logo")
            .ads__home-form-auth
              h2 Forget Password
              .card
                form(action="#" method="post")
                  p Enter your email and we will send you a password reset link.
                  .form-group
                    input.form-control(type="text" name="email" placeholder="Email")
                  .form-group
                    button.btn.btn-primary.d-block.w-100.disabled(type="submit") Send Request
                  .form-group
                    p.text-center
                      a(href="index.html") Go back to login page
                