.modal.fade.ads__display-add.show#add-zone-modal
    .modal-dialog.modal-sm
        .modal-content
            .modal-body
                .input-group
                    .input-group-prepend
                        .input-group-text Name
                    input.form-control(type="text" required placeholder="Enter zone name")
            .modal-footer
                button.btn.btn-primary.rounded(type="button" data-dismiss="modal") Cancel
                button.btn.btn-success.rounded(type="button" data-dismiss="modal") Add Zone
                            
