.modal.fade.ads__change-password.ads__display-add.show#change-password
    .modal-dialog.modal-md
        .modal-content
            .modal-header
                h3.modal-title Change Password
                a(href="#" data-dismiss="modal")
                    i.icon-close
            .modal-body.left
                form(action="#" method="post")
                    .form-group
                        label(for="oldPassword") Old password:
                        input.form-control#oldPassword(type="text" placeholder="Please enter old password *")
                    .form-group
                        label(for="newPassword") Old password:
                        input.form-control#newPassword(type="text" placeholder="Please enter new password (minimum 6 characters) *")
                    .form-group
                        label(for="confirmPassword") Confirm new password:
                        input.form-control#confirmPassword(type="text" placeholder="Please repeat the new password *")
                    button.btn.btn-success.rounded(type="button" data-dismiss="modal") Update
                            
