.modal.fade.ads__display-add.ads__copy-modal.show#copy-modal
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                h3.modal-title Copy Compoosition: ttt
                a(href="#" data-dismiss="modal")
                    i.icon-close
            .modal-body
                .input-group
                    .input-group-prepend
                        .input-group-text Name
                    input.form-control(type="text" required placeholder="Enter new name")
            .modal-footer
                button.btn.btn-primary.rounded(type="button" data-dismiss="modal") Close
                button.btn.btn-success.rounded(type="button" data-dismiss="modal") Confirm to Copy
                            
