.modal.fade.ads__toast.show#delete-toast-modal
    .modal-dialog.modal-md
        .modal-content
            .modal-body.left
                h1.danger
                    i.icon-info-alt
                p 
                    span Are you sure you want to delete
                    strong 'SampleVideo1280'
                    span ?
            .modal-footer
                button.btn.btn-primary.rounded(type="button" data-dismiss="modal") Cancel
                button.btn.btn-success.rounded(type="button" data-dismiss="modal") Confirm