footer
    ul
        li
            a(href="#")
                i.icon-facebook
        li
            a(href="#")
                i.icon-twitter
        li
            a(href="#")
                i.icon-linkedin
    .info.text-center
        a.d-block(href="#") Terms and Condition
        p &copy; 2019 demo.com, All rights reserved. | Privacy