.modal.fade.ads__guide-modal.show#guide-modal
    .modal-dialog.modal-lg
        .modal-content
            .modal-body
                h1 Getting Started with Pickcel
                .ads__guide-modal__content
                    img(src="./images/group.svg" alt="Group Icons")
                    .ads__guide-modal__steps
                        .step
                            p Step 1
                            p Pair your display
                        .step
                            p Step 2
                            p Add assets
                        .step
                            p Step 3
                            p Create Composition
                        .step
                            p Step 4
                            p Create schedules
                button.btn.btn-primary.rounded(type="button" data-dismiss="modal") Ok
                            
