.modal.fade.ads__display-add.ads__save-composition-modal.show#save-composition-modal
    .modal-dialog.modal-md
        .modal-content
            .modal-header
                h3.modal-title Save Composition
                a(href="#" data-dismiss="modal")
                    i.icon-close
            .modal-body
                input.form-control(type="text" required placeholder="Enter composition name")
            .modal-footer
                button.btn.btn-success.rounded(type="button" data-dismiss="modal") Save and Exit
                            
