.modal.fade.ads__display-add.ads__template-modal.show#template-modal
    .modal-dialog
        .modal-content
            .modal-header
                h3.modal-title Templates
                a(href="#" data-dismiss="modal")
                    i.icon-close
            .modal-body.left
                .template-chooser.d-none
                    ul.nav.nav-tabs.nav-list
                        li.nav-item
                            a.nav-link.active(data-toggle="tab" href="#defaultTemplates") Default Templates
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#myTemplates") My Templates
                        .right-icons
                            button.btn.btn-primary.rounded(type="button")
                                i.icon-plus
                                span Create Template
                            .ads__search-box
                                input(type="text" placeholder="Search...")
                                i.icon-search
                    .tab-content
                        .tab-pane.fade.show.active#defaultTemplates
                            .template-rows.row
                                .col-12.col-md-6.col-lg-3
                                    .ads__template-modal-item
                                        .header
                                            p Three Zone - Horizontal
                                        .preview
                                            .preview-wrapper.horizontal
                                                div(style="left: 0%; top: 0%; width: 67.5%; height: 75%; z-index: 3; display: block; position: absolute;")
                                                div(style="left: 67.5%; top: 0%; width: 32.5%; height: 75%; z-index: 2; display: block; position: absolute;")
                                                div(style="left: 0%; top: 75%; width: 100%; height: 25%; z-index: 1; display: block; position: absolute;")
                                        .btns
                                            h4 16:9
                                            .links
                                                a(href="#") Set As Default
                                                a(href="#") Use This
                                .col-12.col-md-6.col-lg-3    
                                    .ads__template-modal-item
                                        .header
                                            p Two Zone - Vertical
                                        .preview
                                            .preview-wrapper.vertical
                                                div(style="left: 0%; top: 0%; width: 100%; height: 80%; z-index: 2; display: block; position: absolute;")
                                                div(style="left: 0%; top: 80%; width: 100%; height: 20%; z-index: 1; display: block; position: absolute")
                                        .btns
                                            h4 9:16
                                            .links
                                                a(href="#") Set As Default
                                                a(href="#") Use This
                                .col-12.col-md-6.col-lg-3
                                    .ads__template-modal-item
                                        .header
                                            p Two Zone - Horizontal
                                        .preview
                                            .preview-wrapper.horizontal
                                                div(style="left: 0%; top: 0%; width: 100%; height: 85%; z-index: 2; display: block; position: absolute")
                                                div(style="left: 0%; top: 85%; width: 100%; height: 15%; z-index: 1; display: block; position: absolute")
                                        .btns
                                            h4 16:9
                                            .links
                                                a(href="#") Set As Default
                                                a(href="#") Use This
                                .col-12.col-md-6.col-lg-3    
                                    .ads__template-modal-item
                                        .header
                                            p Two Zone - Vertical
                                        .preview
                                            .preview-wrapper.vertical
                                                div(style="left: 0%; top: 0%; width: 100%; height: 50%; z-index: 2; display: block; position: absolute")
                                                div(style="left: 0%; top: 50%; width: 100%; height: 50%; z-index: 1; display: block; position: absolute")
                                        .btns
                                            h4 9:16
                                            .links
                                                a(href="#") Set As Default
                                                a(href="#") Use This
                                .col-12.col-md-6.col-lg-3
                                    .ads__template-modal-item
                                        .header
                                            p Two Zone - Horizontal
                                        .preview
                                            .preview-wrapper.horizontal
                                                div(style="left: 0%; top: 0%; width: 52.5%; height: 100%; z-index: 2; display: block; position: absolute")
                                                div(style="left: 52.5%; top: 0%; width: 47.5%; height: 100%; z-index: 1; display: block; position: absolute")
                                        .btns
                                            h4 16:9
                                            .links
                                                a(href="#") Set As Default
                                                a(href="#") Use This
                                .col-12.col-md-6.col-lg-3    
                                    .ads__template-modal-item
                                        .header
                                            p Fullscreen - Vertical
                                        .preview
                                            .preview-wrapper.vertical
                                                div(style="left: 0%; top: 0%; width: 100%; height: 100%; z-index: 1; display: block; position: absolute")
                                        .btns
                                            h4 9:16
                                            .links
                                                a(href="#") Set As Default
                                                a(href="#") Use This
                                .col-12.col-md-6.col-lg-3
                                    .ads__template-modal-item
                                        .header
                                            p Fullscreen - Horizontal
                                        .preview
                                            .preview-wrapper.horizontal
                                                div(style="left: 0%; top: 0%; width:100%; height: 100%; z-index: 1; display: block; position: absolute")
                                        .btns
                                            h4 16:9
                                            .links
                                                a(href="#") Set As Default
                                                a(href="#") Use This
                        .tab-pane.fade.show#myTemplates
                            .template-rows.row
                                .col-12.col-md-6.col-lg-3
                                    .ads__template-modal-item
                                        .header
                                            p Demo template 1
                                        .preview
                                            .preview-wrapper.horizontal
                                                div(style="left: 22.5%; top: 15%; width: 25%; height: 25%; z-index: 1; display: block; position: absolute")
                                        .btns
                                            h4 1080*1920
                                            .links
                                                a(href="#") Set As Default
                                                a(href="#") Use This
                                .col-12.col-md-6.col-lg-3
                                    .ads__template-modal-item
                                        .header
                                            p Demo Template 2
                                        .preview
                                            .preview-wrapper.horizontal
                                                div(style="left: 0%; top: 0%; width: 50%; height: 50%; z-index: 1; display: block; position: absolute")
                                                div(style="left: 50%; top: 0%; width: 50%; height: 50%; z-index: 2; display: block; position: absolute")
                                                div(style="left: 0%; top: 50%; width: 50%; height: 50%; z-index: 3; display: block; position: absolute")
                                                div(style="left: 50%; top: 50%; width: 50%; height: 50%; z-index: 4; display: block; position: absolute")
                                        .btns
                                            h4 1080*1920
                                            .links
                                                a(href="#") Set As Default
                                                a(href="#") Use This       
                                .col-12.col-md-6.col-lg-3
                                    .ads__template-modal-item
                                        .header
                                            p Demo template 3
                                        .preview
                                            .preview-wrapper.horizontal
                                                div(style="left: 37.5%; top: 25%; width: 25%; height: 25%; z-index: 2; display: block; position: absolute")
                                                div(style="left: 25%; top: 0%; width: 50%; height: 25%; z-index: 1; display: block; position: absolute")
                                        .btns
                                            h4 16:9
                                            .links
                                                a(href="#") Set As Default
                                                a(href="#") Use This       
                include _create-template.pug