.modal.fade.ads__toast.show#toast-modal
    .modal-dialog.modal-md
        .modal-content
            .modal-body.left
                h1.success
                    i.icon-info-alt
                p The following assets have been uploaded
                ol
                    li
                        span.badge.badge-success Success
                        span SampleVideo1280 
                    li
                        span.badge.badge-success Success
                        span feature1 
            .modal-footer
                button.btn.btn-success.rounded(type="button" data-dismiss="modal") OK