$white: #fff;

$primary-color: #ff5252;
$brand-color: #ef6164;
$success-color: #5ee2a0;
$text-color: #212529;
$dark-gray-color: #343a40;
$light-gray-color: #ced4da;
$primary-alpha-color: rgba(220, 53, 69, 0.5);
$darker-gray: #232f34;
$dark-gray: #344955;
$alpha-dark-gray: rgb(121, 140, 148);
$gray-color: #eee;
$lighter-gray-color: #fafafa;
$shadow-gray-color: #dee2e6;
$black-alpha-color: rgba(0, 0, 0, 0.4);
$primary-alpha-color: rgba(243, 114, 114, 0.7);
$text-gray-color: #a1a1a1;
$alpha-gray-color: rgba(210, 210, 210, 0.6);
$grey-color: #a0a0a0;
$alpha-primary-color: rgba(255, 82, 82, 0.4);
$alpha-red: rgba(234, 87, 87, 0.24);
$dark-grey: rgb(231, 231, 231);
$white-alpha: rgba(255, 255, 255, 0.7);

$global-text-size: 12px;
$small-text-size: 13px;
$normal-text-size: 16px;
$header-text-size: 20px;
$big-header-text-size: 22px;
$biger-header-text-size: 25px;
$big-icon-text-size: 35px;
